.input {
  display: flex;
  width: 370px;
  height: 30px;
  padding-left: 20px;
  margin: 30px 60px;
  float: left;
  border: 1px solid black;
  font-family: sans-serif;
  background-color: beige;
}

.font-control {
  display: flex;
  margin: 35px 60px;
  height: 30px;
  width: 400px;
  float: right;
  border: 1px solid black;
  font-family: sans-serif;
  background-color: beige;
}
.table {
  width: 100%;
  margin: 30px auto;
  border: 1px solid black;
  font-family: sans-serif;
  font-size: 16px;
}
.table-header {
  background-color: rgb(204, 62, 62);
}
tbody{
  font-family: sans-serif;
  background-color: beige;
}
.clearfix{
  display: flex;
  float: left;
}
.pagination-status {
  display: inline-flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.pagination-status_item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.pagination-status__btn {
  background-color: rgb(204, 62, 62);
  border: 1px solid black;
  width: 40px;
  height: 30px;
}
.pagination-status__btn:hover {
  color: rgb(204, 62, 62);
  background-color: black;
}
.pageSetsize{
  display: inline-flex;
  margin-right: 90px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
  font-family: sans-serif;
  float: right;

}
.sizeControl{
  width: 60px;
  background-color: beige;
  border: 1px solid black;
  margin-left: 10px;
}